<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Ceson -->
      <package
            uri="http://org.eclipse.emf.ceson/1.0"
            class="org.eclipselabs.emf.ceson.CesonPackage"
            genModel="model/Ceson.genmodel"/>
   </extension>

</plugin>
